@model About
<div class="card bg-secondary mb-3 mainbody">
    <section class="container py-5">
        <h2 class="text-center mb-4 morph-effect">O naszej Pizzerii</h2>
        <p class="lead text-center">
            W Pizzashop mamy tylko jeden cel: dostarczyć Ci najlepszą pizzę! Z pasją tworzymy przepyszne pizze, korzystając z najwyższej jakości składników. Nasze pizze są przygotowywane na świeżym cieście, a każdy składnik jest starannie wyselekcjonowany, aby zapewnić Ci niezapomniane doznania smakowe.
        </p>
        <p class="text-center">
            Dzięki naszej pasji i zaangażowaniu, Pizzashop stał się ulubionym miejscem spotkań dla wszystkich miłośników pizzy w mieście. Nasza pizza to połączenie tradycji z nowoczesnością – spróbuj naszej pizzy i przekonaj się sam!
        </p>
        <div class="text-center">
            <a href="/Home/Menu" class="btn btn-danger morph-effect">Zamów teraz</a>
        </div>
    </section>
</div>

