@{
    ViewData["Title"] = "Pizza Kingdom";
}
<div class="card bg-secondary mb-3 mainbody">
<div class="container welcome-section">
    <h1 class="display-3">Witaj w Pizza Kingdom!</h1>
    <p class="lead">Przygotuj się na wyjątkową podróż po najlepszych pizzach w mieście!</p>
        <div class="row images">
            <img class="col-md-6 mb-3" src="/images/pizza1.jpeg" alt="Pizza">
            <img class="col-md-6 mb-3" src="/images/pizza2.jpeg" alt="Pizza">
        </div>
        <div class="row images">
            <img class="col-md-6 mb-3" src="/images/pizza3.jpeg" alt="Pizza">
            <img class="col-md-6 mb-3" src="/images/pizza4.jpeg" alt="Pizza">
        </div>
    <div class="mt-4">
        <a href="/Home/Menu" class="btn btn-custom">Zobacz nasze menu</a>
    </div>
</div>
</div>